AnchorPane { 
	-fx-background-color: black;
}


#questionnaireLabel { 
	-fx-text-fill: white;
}
.countField { 
	
}
#mainGrid { 
	-fx-padding: 10.0 36.0, 10.0, 35.0;
	-fx-background-color: black;
}

#topPane { 
	-fx-background-color: red;
}
#scrollPane { 
	-fx-hbar-policy : never;
    -fx-vbar-policy : never;
}
.Button { 
	-fx-text-fill: white;
	-fx-border-color: white;
	-fx-background-color: black;
	-fx-border-radius: 10.0px;
}

.Label { 
	-fx-text-fill: white;
	-fx-alignment: center;
}

.addButton { 
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-alignment: center ;
}

.subButton { 
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-alignment: center;
}
.TextField { 
	-fx-text-fill: white;
	-fx-background-color: black;
	-fx-alignment: center;
	
}

.ButtonFiller { 
	-fx-background-color: black;
}

.QuestionaireeLabel { 
	-fx-text-fill: white;
	-fx-alignment:center-left ;
}

#splitPane *.split-pane-divider {
    -fx-padding: 0.0 0.0 0.0 0.0;
    -fx-border-color: black;
}

#bottomPane { 
	-fx-background-color: black;
	-fx-border-width: 1.0px;
}
#splitPane { 
	-fx-background-color: black;
}
#FirstPane { 
	-fx-background-color: black;	
}

#scrollContent { 
	-fx-background-color: black;
	-fx-border-color: black;
}

.bottomGrid { 
	-fx-background-color: black;
	-fx-padding: 10.0px;
}

.hBox { 
	-fx-padding: 14.0px;
}

.hBoxLabel { 
	-fx-text-fill: white;
}

.hBoxTextField { 
	-fx-text-fill: black;
	-fx-alignment: center;
}
#bottomPaneBig { 
	-fx-background-color: black;
}
#bottomScrollPane { 
	-fx-background-color: blue;
}

#bottomScroll { 
	-fx-hbar-policy : never;
     -fx-vbar-policy : never;
}
#bottomPane { 
	-fx-background-color: black;
}

.qLabel { 
	-fx-text-fill: white;
}

#qField { 
	-fx-background-color: red;
	-fx-padding: 3.0px;
}

.titleLabel { 
	-fx-text-fill: white;
	-fx-alignment: center;
}