AnchorPane { 
	-fx-background-color: black;
}

#questionnaireLabel { 
	-fx-text-fill: white;
}

#mainGrid { 
	-fx-padding: 10px;
}

.Button { 
	-fx-text-fill: white;
	-fx-border-color: white;
	-fx-background-color: black;
	-fx-border-radius: 10px;
}

.Label { 
	-fx-text-fill: white;
	-fx-alignment: center;
}

.TextField { 
	-fx-text-fill: white;
	-fx-background-color: black;
	-fx-alignment: center;
	
}

.ButtonFiller { 
	-fx-background-color: black;
}

.QuestionaireeLabel { 
	-fx-text-fill: white;
	-fx-alignment:center-left ;
}

#splitPane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}

#bottomPane { 
	-fx-background-color: black;
	-fx-border-color: white;
	-fx-border-width: 1px;
}

.bottomGrid { 
	-fx-background-color: red;
	-fx-padding: 10px;
   
}

.hBox { 
	-fx-padding: 14px;
}

.hBoxLabel { 
	-fx-text-fill: beige;
}

.hBoxTextField { 
	-fx-text-fill: white;
	-fx-alignment: center;
}
