AnchorPane { 
	-fx-background-color: black
}
#splitPane { 
	-fx-background-color: black ;
	-fx-border-color: lightblue;
	-fx-text-fill: white;
}

#itemSelectionLabel { 
	-fx-text-fill: white
}

#ColorChangeLabel { 
	-fx-text-fill: white
}

#buttonGridPane { 

}

#bottomPane { 
	-fx-background-color: black;
}

#mainGrid { 
	-fx-background-color: black;
}

#gridResult { 
	-fx-border-color: red;
}

.gridButtons { 
	-fx-background-color: black;
	-fx-border-color: blue;
}
.currentButton { 
	-fx-background-color: white;
}